* {
  margin: 0;
}
.search img {
  position: absolute;
  width: 17px;
  top: 10px;
  right: 90px;
}
input {
  width: 100%;
  border-radius: 15px;
  padding: 10px 12px;
  padding-left: 55px;
  font-size: 14px;
  font-weight: 600;
  color: gray;
  border: 1px solid #f6f6f6;
  background-color: #f6f6f6;
}
.background {
  width: 100%;
}
.header {
  position: fixed;
  width: 100%;
  height: 80px;
  padding-top: 20px;
  background-color: white;
  z-index: 1;
}
.home {
  padding-left: 10%;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}
.in-header {
  width: 100%;
  display: flex;
}
.search {
  position: relative;
  width: 500px !important;
  margin-left: auto;
  padding-right: 80px;
}
.search-title {
  position: absolute;
  width: 50px;
  font-size: 14px;
  font-weight: 800;
  top: 9px;
  left: 6px;
}
.login {
  padding-right: 5%;
  padding-top: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.login button {
  border: 0;
  outline: 0;
  background-color: white;
  cursor: pointer;
}
.regi {
  padding-right: 10%;
  padding-top: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.regi button {
  border: 0;
  outline: 0;
  background-color: white;
  cursor: pointer;
}
.slides img {
  margin: 0;
  width: 100%;
}
.bt {
  cursor: pointer;
}
.scroll {
  padding-top: 100px;
  margin-bottom: 200px;
}
.scroll1 {
  font-weight: bold;
}
.zoom {
  font-weight: 900;
  font-size: 30px;
  color: #b70000;
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
  overflow-x: hidden;
  font-size: 1vw;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  float: none;
}
.title {
  margin-bottom: 0;
  text-align: center;
  font-size: 30px;
  color: #333;
}
.link,
.link:visited {
  display: inline-block;
  margin: 20px 0;
  color: #555;
  text-decoration: none;
  font-weight: bold;
}
.link:hover,
.link:focus {
  color: #9fd6c2;
}
/* 폰트 */
@font-face {
  font-family: "KoreanYNMYTB";
  src: url("../KoreanYNMYTB.woff") format("woff");
}

/* container - body */
.container {
  background: url("../assets/images/background_mainbanner_image.jpg");
  background-repeat: no-repeat;
  height: 650px;
  width: 100%;
  position: relative;
}

/* text 부분 */
.text {
  position: absolute;
  top: 230px;
  left: 15%;
}
.highlight {
  font-family: "KoreanYNMYTB";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.descript {
  position: absolute;
  top: 200px;
  width: 420px;
  font-family: "Noto Sans KR", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 23px;
  color: black;
}
/* img_container - body */
#img_container {
  position: absolute;
  width: 100%;
  left: 15%;
  top: 0px;
  bottom: 50px;
}

.slide_wrap {
  position: relative;
  max-width: 820px;
  margin: auto;
  padding-bottom: 30px;
}
.slide_box {
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}
.slide_content {
  display: table;
  float: left;
  width: 400px;
  height: 400px;
}
.slide_content > p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: #555;
}
.slide_btn_box > button {
  top: 50%;
  margin-top: -45px;
  width: 30px;
  height: 30px;
  font-size: 16px;
  color: #999;
  background: none;
  border: 1px none #ddd;
  cursor: pointer;
}
.slide_btn_box {
  position: relative;
  top: 19px;
}
.slide_btn_prev {
  position: relative;
  left: -80px;
}
.slide_btn_next {
  position: relative;
  right: -80px;
}
.slide_pagination {
  position: absolute;
  left: 50%;
  bottom: 0;
  top: 670px;
  list-style: none;
  margin: 0;
  padding: 0;
  transform: translateX(-50%);
}
.slide_pagination .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  overflow: hidden;
  background: #ddd;
  border-radius: 50%;
  transition: 0.3s;
}
.slide_pagination .dot.dot_active {
  background: #333;
}
.slide_pagination .dot a {
  display: block;
  width: 100%;
  height: 100%;
}

/* 지도 */
.all-map {
  display: flex;
  width: 100%;
  height: 700px;
}
#map {
  width: 1000px;
  height: 600px;
  margin-left: 13%;
}
#result {
  padding-left: 3%;
}

/* 키워드로 찾기 */
.find-by-keyword {
  width: 260px;
}
#keyword-result {
  font-size: 13px;
  color: #9b9b9b;
  font-weight: bold;
  text-align: left;
}
.keywords {
  width: 260px;
  display: flex;
  align-content: flex-start;
  padding-top: 5%;
  text-align: left;
  border-color: #b70000;
  overflow: auto;
  white-space: nowrap;
  padding-top: 5%;
}
.key {
  margin-right: 10px;
  border-radius: 10px;
  background-color: white;
  color: #b70000;
  border-color: gray;
  margin-bottom: 5px;
}
.keyword {
  margin-right: 1%;
  border-radius: 10px;
  background-color: white;
  color: #7d1818;
  border: 1px solid #deb2b2;
  display: inline-block;
  font-weight: 400;
}

/* 위치로 찾기 */
#location-result {
  padding-top: 15%;
  font-size: 13px;
  color: #9b9b9b;
  font-weight: bold;
  text-align: left;
}
.location_container {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  padding-top: 5%;
}
.loc {
  width: 50px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: white;
  color: #2524ff;
  border-color: gray;
  margin-bottom: 5px;
}
.loc_btn {
  width: 50px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: white;
  color: #263053;
  border: 1px solid #96a5dc;
}
.loc_clicked {
  color: #ffffff;
  background: #8192d1;
}

.location_container::-webkit-scrollbar {
  height: 10px;
}
.location_container::-webkit-scrollbar-thumb {
  height: 10%; /* 스크롤바의 길이 */
  background: #bdbdbd; /* 스크롤바의 색상 */
  border-radius: 10px;
}
.location_container::-webkit-scrollbar-track {
  background: #f6f6f6; /*스크롤바 뒷 배경 색상*/
}

.keywords::-webkit-scrollbar {
  height: 10px;
}
.keywords::-webkit-scrollbar-thumb {
  height: 10%; /* 스크롤바의 길이 */
  background: #bdbdbd; /* 스크롤바의 색상 */
  border-radius: 10px;
}
.keywords::-webkit-scrollbar-track {
  background: #f6f6f6; /*스크롤바 뒷 배경 색상*/
}

/* 검색하기*/
.search_btn_container {
  display: flex;
  justify-content: flex-end;
  padding-top: 7%;
}
#search_btn {
  width: 80px;
  height: 30px;
  background: #6d6d6d;
  border-radius: 10px;
  border-color: white;
  color: #ffffff;
}
.search-result::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
}
.search-result::-webkit-scrollbar-thumb {
  height: 10%; /* 스크롤바의 길이 */
  background: #bdbdbd; /* 스크롤바의 색상 */

  border-radius: 10px;
}
.search-result::-webkit-scrollbar-track {
  background: #f6f6f6; /*스크롤바 뒷 배경 색상*/
}

/* 검색 결과 */
#search-result {
  padding-top: 15%;
  margin-bottom: 15px;
  font-size: 13px;
  color: black;
  font-weight: bold;
  text-align: left;
}
.search-result {
  width: 260px;
  height: 250px;
  overflow-y: auto;
  padding-left: 5px;
}
.result {
  width: 220px;
  /* height: 50px; */
  display: flex;
  background: #f6f6f6;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}
.rest-name {
  font-weight: bold;
  font-size: 14px;
}
.rest-menu {
  margin-left: auto;
  font-size: 11px;
}

/* infoWindow */
.infoWindow {
  width: 325px;
  height: 216px;
  border-radius: 10px;
  border-color: red;
}
.infoWindow hr {
  margin: 10px;
}

.infoWindow .info_header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.info_header .title {
  font-size: 20px;
  font-weight: bold;
}
.like_dislike span {
  font-size: 12px;
  margin: 2px;
}
.svg {
  display: inline-block;
  width: 14.25px;
  height: 13.98px;
}

.infoWindow .info_body {
  margin: 10px;
  margin-top: 20px;
}
.infoWindow .info_body div {
  margin: 8px;
  font-size: 16px;
}

.recommend {
  margin-right: 4%;
  border-radius: 10px;
  border-style: none;
  background: #efefef;
  color: #000000;
}

#viewBtn_container {
  margin-top: 25px;
  margin-right: 30px;
  display: flex;
  justify-content: flex-end;
}
#viewBtn {
  border: 0;
  outline: 0;
  background-color: white;
}
#viewBtn:hover {
  background-color: lightgray;
}
