html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
  height: 100%;
  overflow: hidden;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Noto Sans KR";
  font-style: normal;
}

/* 폰트 */
@font-face {
  font-family: "KoreanYNMYTB";
  src: url("KoreanYNMYTB.woff") format("woff");
}

/***** 헤더 *****/
.search img {
  position: absolute;
  width: 17px;
  top: 10px;
  right: 90px;
}
input {
  width: 100%;
  border-radius: 15px;
  padding: 10px 12px;
  padding-left: 55px;
  font-size: 14px;
  font-weight: 600;
  color: gray;
  border: 1px solid #f6f6f6;
  background-color: #f6f6f6;
}
.header {
  position: fixed;
  width: 100%;
  height: 80px;
  padding-top: 20px;
  background-color: white;
  z-index: 1;
  top: 0;
}
.home {
  padding-left: 10%;
  font-size: 1.3021vw;
  font-weight: bold;
  font-family: sans-serif;
}
#mainLogo {
  width: 173px;
  height: 27px;
  margin-right: 15px;
}
.in-header {
  width: 100%;
  display: flex;
}
.search {
  position: relative;
  width: 500px !important;
  margin-left: auto;
  padding-right: 80px;
}
.search-title {
  position: absolute;
  width: 50px;
  font-size: 14px;
  font-weight: 800;
  top: 9px;
  left: 6px;
}
.login {
  padding-right: 5%;
  padding-top: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  width: 150px;
}
.regi {
  padding-right: 10%;
  padding-top: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  width: 300px;
}

/***** 본문 *****/
#page {
  position: absolute;
  width: 100%;
  /* height: 100%; */
}
#restImgWrapper {
  position: relative;
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#restImgWrapper img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: auto;
}
#pageContainer {
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 100%;
  top: -120px;
  margin-right: 10%;
  margin-left: 10%;
}
.text_style {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

/***** 가게 정보 부분(info) *****/
#infoContainer {
  /* height: 70%;
  width: 45%; */
  width: 680px;
  height: 584px;
  background-color: white;
  border-color: #f6f6f6;
  border-radius: 10px;
  padding: 40px;
  min-width: 45%;
  box-shadow: 3px 3px 3px lightgray;
}

/* 구분선(line) */
.line {
  margin-bottom: 3%;
  margin-top: 3%;
}

/* #infoHeader (가게이름, 좋아요/싫어요) */
#infoHeader {
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}
#infoHeader .rest_name {
  font-weight: bold;
  font-size: 32px;
  line-height: 46px;
}
#infoHeader #preference {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  width: 150px;
}
#preference .prefer_container {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}
.percent {
  width: 50px;
}
.prefer_container .like_svg,
.dislike_svg {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 5%;
  fill: black;
  cursor: pointer;
}
.prefer_container .dislike_svg {
  margin-top: 3px;
}

/* #subInfo (가게 주소, 전화번호, 유명메뉴) */
#subInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 5%;
}
#subInfo .subInfo_container {
  display: flex;
  margin: 1%;
}
#subInfo .subInfo_svg {
  display: inline-block;
  height: 20px;
  width: 20px;
  padding-bottom: 5%;
  margin-right: 2%;
  fill: black;
}
.location,
.menu {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}

/* #youtubeContainer (유튜브 영상, 유튜브 정보) */
#youtubeContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 5px;
}
#youtubeContainer .msg {
  position: relative;
  display: flex;
  bottom: 5px;
  margin-bottom: 2%;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5%;
}
.msg_svg {
  display: inline;
  width: 20px;
  height: 20px;
  fill: black;
  margin-right: 5px;
}
.msg span {
  font-weight: bold;
  font-size: 15px;
  line-height: 23px;
}
#youtubeContainer .youtube {
  display: flex;
  padding-left: 5%;
  height: 100%;
  width: 100%;
}
.youtube .youtube_btn {
  width: 170%;
  height: auto;
  cursor: pointer;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: white;
}
.youtube_btn img {
  width: 100%;
  height: 100%;
}
.youtube .youtube_info {
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow: hidden;
}
.youtube_info .youtube_title {
  padding-bottom: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8333vw;
  line-height: 23px;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.youtube_info p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-style: normal;
  font-weight: 400;
  font-size: 0.7813vw;
  line-height: 22px;
  color: #9b9b9b;
}

/***** 리뷰 부분(#reviewContainer) *****/
#reviewContainer {
  height: 100%;
  width: 50%;
  display: inline-flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 140px;
  margin-left: 50px;
}

/* #reviewHeader */
#reviewContainer .review_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
}
.review_header span {
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
}
.review_header button {
  font-family: "Noto Sans KR";
  font-style: bold;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  border: 0;
  outline: 0;
  background-color: white;
  cursor: pointer;
}
.review_header button:hover {
  background-color: #efefef;
}

/* #reviewList (리뷰 목록) */
#reviewContainer #reviewList {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 45%;
  width: 100%;
}
/* 스크롤바 */
#reviewList::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
}
#reviewList::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #acacac; /* 스크롤바의 색상 */

  border-radius: 10px;
}
#reviewList::-webkit-scrollbar-track {
  background: #f2f2f2; /*스크롤바 뒷 배경 색상*/
}

/* review (리뷰 1개) */
#reviewList .review {
  padding: 5px;
  margin: 5px;
  margin-left: 30px;
}
.review .review_profile {
  display: flex;
  flex-direction: row;
}
.review_profile .profile_svgWrapper {
  display: inline-block;
  width: 56px;
  height: 50px;
  margin: 5px;
  border-radius: 50%;
  background-color: #d9d9d9;
}
.profile_svg svg {
  fill: white;
  width: 30px;
  margin-top: 5px;
}
.review_profile .user_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  width: 100%;
}
.user_container .review_info {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.user_container .review_buttons button {
  background-color: white;
  border: 0;
  outline: 0;
  fill: gray;
  cursor: pointer;
}
.review_buttons button:hover {
  background-color: #efefef;
}

.keywords {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.recommend {
  margin-right: 4%;
  border-radius: 10px;
  border-style: none;
  background: #efefef;
  color: #000000;
}

.review .review_body {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 5px;
}
.review_body .review_imgWrapper {
  position: relative;
  width: 190px;
  height: 190px;
  margin-right: 20px;
  padding-left: 190px;
  float: left;
}
.review_imgWrapper img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
  transform: translate(50, 50);
}
.review_textContainer {
  float: right;
}

/* 신고 팝업 */
.modal-btn-box button {
  display: inline-block;
  width: 150px;
  height: 50px;
  background-color: #3d1717;
  border: 1px solid #e1e1e1;
  cursor: pointer;
  padding-top: 8px;
}
.popup-wrap {
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  padding: 15px;
}
.popup-class {
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  background-color: gray;
  box-shadow: 5px 10px 10px 1px rgba(102, 102, 102, 0.3);
}
.popup-head {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: left;
  justify-content: flex-start;
}
.head-title {
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -3px;
  text-align: left;
}
.popup-body {
  width: 100%;
  background-color: #ffffff;
}
.body-content {
  height: 320px;
  width: 100%;
  padding: 30px;
}
.body-titlebox {
  text-align: center;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}
.body-contentbox {
  position: relative;
  top: 50px;
  word-break: break-word;
  min-height: 100px;
  max-height: 200px;
}
.popup-foot {
  width: 100%;
  height: 50px;
}
.pop-btn {
  display: inline-flex;
  width: 50%;
  height: 100%;
  float: left;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
}
.pop-btn.confirm {
  border-right: 1px solid gray;
}

.report_btns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.report_btn {
  margin: 5px;
}
