/* header */
.header {
  /* position: absolute; */
  top: 0;
}
.search img {
  position: absolute;
  width: 17px;
  top: 10px;
  right: 90px;
}
input {
  width: 100%;
  border-radius: 15px;
  padding: 10px 12px;
  padding-left: 55px;
  font-size: 14px;
  font-weight: 600;
  color: gray;
  border: 1px solid #f6f6f6;
  background-color: #f6f6f6;
}
.background {
  width: 100%;
}
.header {
  position: fixed;
  width: 100%;
  height: 80px;
  padding-top: 20px;
  background-color: white;
  z-index: 1;
}
.home {
  padding-left: 10%;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}
.in-header {
  width: 100%;
  display: flex;
}
.search {
  position: relative;
  width: 500px !important;
  margin-left: auto;
  padding-right: 80px;
}
.search-title {
  position: absolute;
  width: 50px;
  font-size: 14px;
  font-weight: 800;
  top: 9px;
  left: 6px;
}
.login {
  padding-right: 5%;
  padding-top: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.login button {
  border: 0;
  outline: 0;
  background-color: white;
  cursor: pointer;
}
.regi {
  padding-right: 10%;
  padding-top: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.regi button {
  border: 0;
  outline: 0;
  background-color: white;
  cursor: pointer;
}
.slides img {
  margin: 0;
  width: 100%;
}
.bt {
  cursor: pointer;
}
.scroll {
  padding-top: 100px;
  margin-bottom: 200px;
}
.scroll1 {
  font-weight: bold;
}
.zoom {
  font-weight: 900;
  font-size: 30px;
  color: #b70000;
}

/* global */

* {
  box-sizing: border-box;
}

.octicon {
  display: inline-block;
  vertical-align: text-bottom;
}

body {
  margin: 0;
}

.navContainer {
  height: 180px;
}

.mainContainer {
  height: 600px;
}

.header-logo {
  margin-left: 10px;
}

#deco {
  position: absolute;
}

#num1 {
  margin-top: 120px;
}

#num2 {
  margin-left: 1000px;
}

#num3 {
  margin-left: 950px;
  margin-top: 420px;
}

.loginBox {
  margin: 0 auto;
  width: 540px;
  height: 500px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.box {
  position: absolute;
}

.baseBox {
  width: 575px;
  height: 235px;
  margin-top: 0px;
  padding: 90px;
  border-radius: 20px;
  background-color: #c78080;
}

.half-circle {
  background-color: white;
  width: 120px;
  height: 130px;
  border-radius: 100% / 100% 100% 0 0;
  margin: 0 auto;
  margin-top: 55px;
  z-index: 1;
  position: absolute;
}

.behind {
  box-shadow: 0 0 10px -1px gray;
  z-index: 0;
}

.default-profile {
  position: absolute;
  margin: 0 auto;
  z-index: 2;
}

.background {
  background-color: #e8e8e8;
  width: 80px;
  height: 85px;
  border-radius: 70px;
  margin-top: 75px;
}

.face {
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin-top: 88px;
}

.shoulder {
  background-color: #ffffff;
  width: 70px;
  height: 100px;
  border-radius: 50% / 50%;
  margin-top: 123px;
}

.auth-form-header {
  position: absolute;
  margin-top: 150px;
  z-index: 2;
}

.mainBox {
  width: 580px;
  border-radius: 20px;
  margin-top: 110px;
  box-shadow: 0 0 10px -1px gray;
  padding: 115px 60px 40px 60px;
  font-size: 14px;
  background-color: white;
}

h2 {
  display: block;
  font-size: 1.5em;
  text-align: center;
}

form {
  display: block;
  margin-top: 0em;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  text-align: left;
}

.input-block {
  display: block;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 16px;
  background-color: #e8e8e8;
}

.form-control {
  padding: 5px;
  font-size: 14px;
  line-height: 20px;
  border: none;
  border-radius: 6px;
  box-shadow: var;
}

.position-relative {
  position: relative;
  margin-top: 30px;
}

#login-msg {
  height: 20px;
  color: red;
}

.mainBox-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}

#signup {
  text-decoration-line: none;
  color: #7d1818;
}

#pw-search {
  text-decoration-line: none;
  margin-left: 15px;
  color: black;
}

.login-callout a:hover {
  text-decoration: underline;
}

#login-btn {
  color: white;
  background-color: #c78080;
  border-radius: 5px;
  width: 75px;
  height: 30px;
  margin: 8px 0px;
  border: none;
}

#login-btn:hover {
  background-color: #7d1818;
  cursor: pointer;
}

.mainContainer .loginBox {
  background-color: darken(#7d1818, 10%);
}

.triangle {
  position: absolute;
  margin-top: 505px;
  margin-left: -210px;
  z-index: 4;
}

.rare {
  margin-top: 505px;
  margin-left: -213px;
  z-index: 3;
}
