* {
    box-sizing: border-box;
}

.search img {
    position: absolute;
    width: 17px;
    top: 10px;
    right: 90px;
}

input {
    width: 100%;
    border-radius: 15px;
    padding: 10px 12px;
    padding-left: 55px;
    font-size: 14px;
    font-weight: 600;
    color: gray;
    border: 1px solid #f6f6f6;
    background-color: #f6f6f6;
}

.header {
    position: fixed;
    width: 100%;
    height: 80px;
    padding-top: 0px;
    background-color: white;
    z-index: 1;
}

.home {
    padding-left: 0%;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
}

.in-header {
    width: 100%;
    display: flex;
}

.search {
    position: relative;
    width: 500px !important;
    margin-left: auto;
    padding-top: 20px;
    padding-right: 80px;
}

.search-btn {
    position: absolute;
    margin-left: 390px;
    margin-top: -28px;
    cursor: pointer;

}

.search-title {
    position: absolute;
    padding-left: 5px;
    padding-top: 20px;
    width: 50px;
    font-size: 14px;
    font-weight: 800;
    top: 9px;
    left: 6px;
}

.login {
    padding-right: 5%;
    padding-top: 28px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.regi {
    padding-right: 10%;
    padding-top: 28px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.header-logo {
    margin-left: 10px;
}

.main-container {
    width: 1890px;
    padding-top: 10px;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}

.leftContainer {
    margin-left: 80px;
    padding-left: 100px;
    width: 800px;
}

.rightContainer {
    margin-right: 80px;
    padding-right: 100px;
    width: 800px;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.title-box {
    font-family: sans-serif;

}

.word {
    margin-top: 5px;
    margin-bottom: 5px;
}

#title {
    font-weight: 500;
    font-size: 28px;
    line-height: 46px;
}

#subtitle {
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
}

.rest-name-box {
    display: inline-flex;
    background-color: #e8e8e8;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 5px 13px;
}

#rest-name {
    margin-left: 10px;
    line-height: 25px;
    font-weight: 400;
}

#image {
    position: absolute;
    margin-top: 10px;
    margin-left: 28px;
}

.contents {
    width: 700px;
}

.text-box {
    padding: 5px 35px 12px 35px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.form-top {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
}

#question {
    font-weight: 700;
    font-size: 17px;
}

.answer {
    margin-bottom: 10px;
    margin-right: 15px;
    padding: 5px;
    border-radius: 8px;
    height: 30px;
    color: #6D6D6D;
    border: 1px solid #ACACAC;
    background-color: #ffffff;
    cursor: pointer;
}

.answer:hover {
    color: #ffffff;
    background-color: #C78080;
    border: 1px solid #C78080;
}

.answer-active {
    color: #ffffff;
    background-color: #C78080;
    border: 1px solid #C78080;
}

.answer-unactive {
    color: #6D6D6D;
    border: 1px solid #ACACAC;
    background-color: #ffffff;
}

#dislike {
    margin-bottom: 10px;
    margin-right: 15px;
    padding: 5px;
    border-radius: 8px;
    height: 30px;
    color: #6D6D6D;
    border: 1px solid #ACACAC;
    background-color: #ffffff;
    cursor: pointer;
}

.dislike:hover {
    color: #ffffff;
    background-color: #8192D1;
    border: 1px solid #8192D1;
}

.dislike-active {
    color: #ffffff;
    background-color: #8192D1;
    border: 1px solid #8192D1;
}

.evaluation {
    width: 240px;
}

.quality {
    width: 420px;
}

.choice {
    display: flex;
    justify-content: space-between;
}

.category {
    display: flex;
}

#kw-question {
    font-weight: 600;
    font-size: 15px;
    color: #477CBB;
    margin-top: 5px;
    margin-right: 0px;
}

.flavor {
    width: 150px;
}

.btn-wrap {
    display: flex;
    flex-wrap: wrap;

}


.menu-opt {
    display: flex;
    justify-content: space-between;
}

#select {
    width: 290px;
    height: 30px;
    margin-top: 15px;
    background-color: #f4f4f4;
    border: none;
}

#opt-text {
    margin-left: 20px;
}

.guide {
    display: flex;
    justify-content: space-between;
}

#caution {
    font-size: 13px;
    color: #6D6D6D;
}

textarea::placeholder {
    color: #6D6D6D;
}


.review-text {
    width: 620px;
    height: 200px;
    resize: none;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f4f4f4;
    border: none;
    overflow-x: auto;
    overflow-y: scroll;
    font-weight: 400;
    font-size: 16px;
    vertical-align: top;
}

ul {
    padding-inline-start: 0px;
}

li {
    list-style: none;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.photo-list {
    display: flex;
}

.upload {
    display: none;
}


.upload-btn {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: #f4f4f4;
    font-weight: 400;
    font-size: 50px;
    color: #6D6D6D;
    border: 1px solid #f4f4f4;
    text-align: center;
    line-height: 90px;
    border: none;
}

.upload-btn:hover {
    cursor: pointer;
}

.image-list {
    width: 630px;
    height: 100px;
    
    display: flex;
    gap: 25px;
}


#scroll {
    line-height: 120px;
}

.btn {
    border-radius: 5px;
    width: 90px;
    height: 30px;
    margin: 30px 10px;
    padding: 3px;
    border: none;
    cursor: pointer;
}

.setting-btn {
    display: flex;
    justify-content: flex-end;
}

#cancel {
    border: 1px solid #C1C1C1;
    background-color: #ffffff;
}

#enroll {
    color: white;
    background-color: #6D6D6D;
}