html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
  overflow-x: hidden;
  font-size: 1vw;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  float: none;
}
.title {
  margin-bottom: 0;
  text-align: center;
  font-size: 30px;
  color: #333;
}
.link,
.link:visited {
  display: inline-block;
  margin: 20px 0;
  color: #555;
  text-decoration: none;
  font-weight: bold;
}
.link:hover,
.link:focus {
  color: #9fd6c2;
}
/* 폰트 */
@font-face {
  font-family: "KoreanYNMYTB";
  src: url("KoreanYNMYTB.woff") format("woff");
}

/* container - body */
.container {
  background: url("background_mainbanner_image.jpg");
  background-repeat: no-repeat;
  height: 650px;
  width: 100%;
  position: relative;
}

/* text 부분 */
.text {
  position: absolute;
  top: 230px;
  left: 15%;
}
.highlight {
  font-family: "KoreanYNMYTB";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.descript {
  position: absolute;
  top: 200px;
  width: 380px;
  font-family: "Noto Sans KR", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 23px;
  color: black;
}
/* img_container - body */
#img_container {
  position: absolute;
  width: 100%;
  left: 15%;
  top: 0px;
  bottom: 50px;
}

.slide_wrap {
  position: relative;
  max-width: 820px;
  margin: auto;
  padding-bottom: 30px;
}
.slide_box {
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}
.slide_content {
  display: table;
  float: left;
  width: 400px;
  height: 400px;
}
.slide_content > p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: #555;
}
.slide_btn_box > button {
  top: 50%;
  margin-top: -45px;
  width: 30px;
  height: 30px;
  font-size: 16px;
  color: #999;
  background: none;
  border: 1px none #ddd;
  cursor: pointer;
}
.slide_btn_box {
  position: relative;
  top: 19px;
}
.slide_btn_prev {
  position: relative;
  left: -80px;
}
.slide_btn_next {
  position: relative;
  right: -80px;
}
.slide_pagination {
  position: absolute;
  left: 50%;
  bottom: 0;
  top: 670px;
  list-style: none;
  margin: 0;
  padding: 0;
  transform: translateX(-50%);
}
.slide_pagination .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  overflow: hidden;
  background: #ddd;
  border-radius: 50%;
  transition: 0.3s;
}
.slide_pagination .dot.dot_active {
  background: #333;
}
.slide_pagination .dot a {
  display: block;
  width: 100%;
  height: 100%;
}
.search-result-all::-webkit-scrollbar {
  width: 10px;  /* 스크롤바의 너비 */
}

.search-result-all::-webkit-scrollbar-thumb {
  height: 10%; /* 스크롤바의 길이 */
  background: #BDBDBD; /* 스크롤바의 색상 */
  
  border-radius: 10px;
}

.search-result-all::-webkit-scrollbar-track {
  background: #f6f6f6;  /*스크롤바 뒷 배경 색상*/
}