@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'SpoqaHanSansNeo-Regular';
}

body{
    background-color: #fff;
}

/* 헤더부분 */
header{
    width: 100%;
    height: 8%;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 1000;
    align-items: center;
}

.head-brand{
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

.head-brand img{
    max-width: 100px;
    max-height: 20px;
    margin-left: 90px;
}

/*section 부분*/
section{
    width: 100%;
    background-color: #fff;
    position:relative;
    display: flex;
}
.left{
    width: 35%;
}
.sign-up-title{
    margin-left: 30%;
    margin-top: 10%;
    font-size: 20px;
    font-weight: bold;
}
.middle{
    width: 30%;
}
.sign-up-form{
    height: 70%;
    margin-top: 20%;
}
.part{
    width: 100%;
    display: flex;
}
.form {
    margin-bottom: 2.3em;
}
.form-2{
    margin-bottom: 1.7em;
}
.form-label {
    color: #000;
    font-size: 12px;
}
.form-input {
    color: #ACACAC;
    font-weight: 600;
    font-size: 1em;
    width: 90%;
    border: none;
    border-bottom: 0.3px solid rgba(0,0,0,.3);
    transition: all 300ms;
    margin-right: .6em;
    margin-bottom: 0.3em;
}
.form-summit{
    border: none;
    display: inline-block;
    background-color: #9B9B9B;
    color: #fff;
    padding: 3px 4px;
    border-radius: 8px;
    font-size: 10px;
    width: 53px;
    height: 20px;
}
.form-text{
    color: #000;
    font-size: 10px;
    margin-bottom: 0.5em;
}
.right{
    width: 35%;
}
.sign-up-summit{
    border: none;
    display: inline-block;
    background-color: #7D1818;
    color: #fff;
    padding: 3px 4px;
    border-radius: 9px;
    font-size: 14px;
    width: 75px;
    height: 27px;
    margin-top: 500px;
    margin-left: 55%;
}